@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,700;1,400&display=swap");
/* ::selection {
    background: #028a0f;
    color: #fff;
}
::-moz-selection {
    background: #028a0f;
    color: #fff;
} */
body {
    font-family: "Kanit", sans-serif;
    background-color: #fff;
    margin: 0;
    margin-bottom: 10vh;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
}
.principal {
    background: #396588 !important;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

html {
    min-height: 100%;
    position: relative;
}

img.custom-logo {
    max-height: 85px;
    width: auto;
}

#menu-menu-principal a.nav-link {
    font-weight: bold;
    font-size: 18px;
    padding: 15px 18px;
    color: #242424;
}
/*nuevo*/
.top-sideinfo-wrap {
    font-size: 14px;
}
.top-sideinfo-wrap a:hover {
    color: #242424;
}
.top-separator {
    border-left: solid 2px #fff;
}
.blue-bg {
    background: #396588;
    color: #fff;
}
.top-sideinfo-wrap {
    font-size: 14px;
}
.top-menu-wrap {
    padding-bottom: 3px;
    padding-top: 2px;
    border-bottom: solid 1px rgb(0 0 0 / 20%);
    background-color: #fff;
}
/*nuevo*/
.secundario {
    background: url(/images/banner.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
}
.text {
    color: #fff;
    padding-left: 10px;
}

.margen {
    padding-bottom: 15px;
    padding-top: 15px;
}

.separador {
    padding-bottom: 30px;
    padding-top: 15px;
}
.notice {
    color: #fff;
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
}

/*#form, #debit,#ayuda{
      min-height: 100vh;
}*/

.btn-default {
    border: 1px solid;
    padding: 0px 25px 0px 25px;
    /*border-radius: 0;*/
    font-size: 2.2rem;
    min-width: 130px;
    max-width: 130px;
}

.btn-default:hover {
    border: 1px solid;
    padding: 0px 25px 0px 25px;

    font-size: 2.2rem;
    background-color: #e9e9e9 !important;
}

.line {
    line-height: 5px;
}
.bottom {
    bottom: 0;
    /* top: 53px; */
    position: absolute;
}

.background {
    background-color: #e9e9e9;
}
.nav-principal {
    list-style: none;
}

.nav-principal > li {
    display: inline;
    margin-right: calc(30px / 2);
    margin-left: calc(30px / 2);
}

.border-form {
    background-color: #fff;
    /*box-shadow: 5px 5px 5px #999;*/
    box-shadow: 3px 3px 3px #4f5354;
    min-height: 903px;
}

title {
    font-size: 900;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057 !important;
    background-color: #aeaeae !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

a.nav-link:hover {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

input,
select,
textarea {
    background-color: #fff !important;
}
.btn-primary {
    color: #fff;
    background-color: #4fb9a9;
    border-color: #4fb9a9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2d9888;
    border-color: #2d9888;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2d9888;
    border-color: #2d9888;
}

.btn-primary:active {
    color: #fff;
    background-color: #2d9888;
    border-color: #2d9888;
}

a:hover {
    color: #242424;
    text-decoration: underline;
}

.btn-back {
    color: #fff;
    background-color: #8a526b;
    border-color: #8a526b;
}

.btn-back:hover {
    color: #fff;
    background-color: #8a526b;
    border-color: #8a526b;
}

.btn-back:not(:disabled):not(.disabled).active,
.btn-back:not(:disabled):not(.disabled):active,
.show > .btn-back.dropdown-toggle {
    color: #fff;
    background-color: #8a526b;
    border-color: #8a526b;
}

.btn-back:active {
    color: #fff;
    background-color: #8a526b;
    border-color: #8a526b;
}

#formulario label[tipo="error"] {
    /* margin-left: 45px;
    width: 90%;
    margin-bottom: 0px;*/
    display: none;
    font-size: 12px;
    color: #fe0000;
}

#formulario label[tipo="error"]:focus {
    color: #495057;
    background-color: #fff;
    border-color: #bd2130;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}

.error {
    border: 1px solid red;
}

.section {
    position: absolute;
    width: 100%;
    top: 25vh;
}

@media (max-width: 600px) {
    .p-5 {
        padding: 1rem !important;
    }
    .bottom {
        bottom: auto;
        position: absolute;
    }
    .line {
        line-height: normal;
    }

    .section {
        position: absolute;
        width: 100%;
        top: 30vh;
    }
}
